<div class="row">
  <div class="column medium-2 large-2" id="empl-list">
    
    <h1>Select Employee:</h1>
    <button id="btn" [routerLink]="['/employee/events', 1]">Bipin Butala</button>
    <button id="btn" [routerLink]="['/employee/events', 2]">Tony Morano</button>
    <button id="btn" [routerLink]="['/employee/events', 3]">Eric Johnson</button>
    <button id="btn" [routerLink]="['/employee/events', 4]">Josh Nickelby</button>

  </div>
  <div class="column">
    <div class="inner-outlet">
      <router-outlet></router-outlet>


    </div>
  </div>
</div>