<!--<p *ngFor="let engineer of crm_engineers">
  {{ engineer.aston_firstname }} {{ engineer.aston_lastname}} - Project Start: {{ this.formatStringAsDate(engineer.aston_actualfirstprojectstartdate) }} -- 
  {{ this.addMonth(engineer.aston_actualfirstprojectstartdate, 6) }} -- {{ this.addMonth(engineer.aston_actualfirstprojectstartdate, 12) }} -- {{ this.addMonth(engineer.aston_actualfirstprojectstartdate, 24) }}
</p>-->

<div class="main-container">
    <div class="alert alert-app-level">
        ...
    </div>
    <header class="header header-6">
        ...
    </header>
    <nav class="subnav">
        ...
    </nav>
    <div class="content-container">
        <div class="content-area">
            ...
        </div>
        <nav class="sidenav">
            ...
        </nav>
    </div>
</div>